<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Reg | Success</title>

    <style>
    .success-msg {color: green;}
        
    </style>
</head>
<body>
    <h3>Success! Welcome, {{login_user.first_name}} {{login_user.last_name}} !  </h3>
    <p class="success-msg">Successfully registered (or loggged in)!</p>

    <a href="/logout">logout</a>

</body>
</html>